html,
body {
    scroll-behavior: smooth;
    background: rgb(20, 40, 60);
    background-size: cover;
    color:white;
    overflow-x:hidden;
    width:100%;
}


header {
    padding: 0;
    background: url("../images/fondec.jpg") center center fixed #01131f no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header .partie{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../images/test3.png") center center scroll rgba(0, 0, 0, 0.35) no-repeat;
    background-size: 40%;
    font-style: italic;
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 350%;
}

header .partie h1{
    font-style: normal;
    color: rgb(25, 55, 55);
    text-shadow: 2px 2px 2px rgb(0, 5, 60), -2px -2px 2px white;
}




#conteneur{
    font-size: 150%;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

section{
    height: auto;
}

.partie{
    position: relative;
    height: auto;
    margin: 0 2%;
    padding: 2%;
}

p{
    color: white;
    opacity: 1;
}


aside{
    font-size: 80%;
    width: auto;
    padding-left: 0.5%;
    margin-left: 0.5%;
    float: right;
    box-shadow: inset 5px 0 5px -5px rgb(150, 225, 250);
    font-style: italic;
    color: rgb(150, 225, 250);
}

aside > p {
    margin: .5rem;
}


footer{
    text-align: center;
    font-size:8px;
    color:#fff;
    display:block;
    letter-spacing:5px;
    border:1px solid #fff;
    padding:5px;
    text-decoration:none;
    width:50%;
    margin: 0 auto;
}






.menu {
    text-transform: uppercase;
    text-align: right;
    font-size: 150%;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: fixed;
    padding: 1%;
    top: 1%;
    right: 1%;
}



.menu nav ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
nav ul li{
    list-style-type:none;
}

nav a {
    color:rgba(255, 255, 255, 0.8);
    text-decoration:none;
    text-shadow:#000 1px 1px 2px
}


.menu:hover {
    pointer-events: all;
    background: rgba(0,0,0,0.5);
}
@media screen and (max-width: 1280px){
    .menu{
	font-size: 200%;
    }
    .menu:hover{
	background: rgb(0,0,0);
	opacity: 1;
    }
    
}

.label {
    display: inline-block;
    pointer-events: all;
}

.item {
    position: relative;
    display: inline-block;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
}

.item a {
    pointer-events: all;
    transition: color 0.5s ease;
}

.item:hover a{
    color: rgb(70, 150, 200);
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
}


@keyframes bounce {
    from {
	top: 85%;
    }

    to {
	top: 87%;
    }
}


h3{
    text-transform: uppercase;
}

.bouton{
    width: 100%;
    height: 10%;
    background: url("../images/arrow5.png") center center no-repeat;
    background-size: 10%;
    position: relative;
    animation: bounce 1s ease infinite alternate;
}
.bouton a{
    opacity: 0;
}


.Intro{
    margin: 0 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
}


table{
    border-collapse: collapse;
    margin: 25px 0;
    color: #ffffff;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


table thead tr{
    background-color: rgb(0,0,0);
    color: #ffffff;
    text-align: left;
}

table th,
table td{
    padding: 12px 15px;
}


table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: rgb(20,20,20);
}

table tbody tr:nth-of-type(odd) {
    color: #ffffff;
    
}

table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(0,0,0);
}


label {
    display: block;
}

form{
    margin: 2% auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


input {
    font-size: 100%;
    width: 100%;
    padding: 3% 4%;
    margin: 2% 0;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0.5%;
}


label{
    width: 100%;
    padding: 3% 4%;
    margin: 2% 0;
    margin-bottom: 0;
    box-sizing: border-box;
}


input.valid{
    border: none;
}


input.invalid {
    border-bottom: 4px solid red;
    color: red;
}


input:invalid{
    border-bottom: 4px solid red;
    color: red;
}


input[type="submit"]{
    border: none;
}


.erroractive{
    font-size: 80%;
    font-style: italic;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    margin-bottom: 2%;
}


.explications{
    font-size: 80%;
    font-style: italic;
    padding: 1% 1%;
}

@media screen and (max-width: 1280px){
    label{
	font-size: 180%;
    }
    .explications{
	font-size: 100%;
    }
    input[type="submit"]{
	font-size: 200%;
    }
    input[type="reset"]{
	font-size: 200%;
    }
    
    
}

#inscri{
    margin: 2% auto;
    text-align: center;
}


.sub:hover:enabled{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 2%;
    left: 2%;
    width: 10%;
    font-size: 75%;
    border-radius: 10px;
}


.form-mask{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(70, 70, 70, 0.9);
    z-index: 10;
}


.form-popup {
    position: fixed;
    width: 20%;
    height: 30%;
    top: 35%;
    left: 40%;
    z-index: 11;
}


.form-container {
    color: rgb(70, 70, 70);
    margin: 0;
    width: auto;
    height: auto;
    padding: 0 5%;
    background-color:white;
    border-radius: 10px;
    
}


.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    font-size: 100%;
    color: white;
    padding: 16px 20px;
    margin-top: 5%;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #8c7569;
    transition: 0.3s;
    cursor: pointer;
    
}


.form-container .btn:hover {
    background: #564A43;
}

.form-container .cancel {
    background-color: #55311c;
    opacity: 1;
    margin-bottom: 5%
}

.form-container .cancel:hover {
    background: rgb(50, 20, 0);
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.form-container #username{
    margin-top: 5%;
}

#message{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 10, 40);
    opacity: 1;
    z-index: 9;
    top: 0;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 160%;
    border-radius: 0 0 10px 10px;
}

#message p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

@media screen and (max-width: 1280px){
    .open-button{
	font-size: 150%;
    }
    .form-popup{
	width: 50%;
	left: 25%;
    }
    .form-container{
	font-size: 150%;
    }
    #message{
	font-size: 200%;
    }
}


.center{
    margin: 0 2%;
}

.red-x{
    margin-right: 1%;
    color: red;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 2%;
}


#javapopup{
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    opacity: 1;
    z-index: 9;
    top: 0;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 140%;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    border-left: 2px solid red;
    border-radius: 0 0 10px 10px;
}

#javapopup p{
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

@media screen and (max-width: 1280px){
    #javapopup{
	width: 50%;
	font-size: 300%;
    }
    #javapopup button{
	font-size: 100%;
    }
    footer{
	font-size: 100%;
    }
}



#wrapper, #loginform {
    margin:5% auto;
    padding-bottom:25px;
    background:#213344;
    width:50%;
    border:3px solid #2F3E4D;
    border-radius: 30px;
}

#loginform {
    padding-top:18px;
}

#loginform p {
    margin: 5px;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:90%;
    border:1px solid #2F3E4D;
    overflow:auto;
}

#chatbox p{
    color: black;
}


#usermsg {
    width:395px;
    border:1px solid #564A43;
}

#submit {
    width: 60px;
}

#submitmsg:hover{
    background-color: rgb(200, 200, 200);
}

#error {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#menu {
    padding:12.5px 25px 12.5px 25px;
    text-align: center;
}

.welcome {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
}

@media screen and (max-width: 1280px){
    #wrapper, #loginform{
	width: 100%;
    }
    .welcome{
	font-size: 200%;
    }
    #usermsg{
	font-size: 150%;
    }
    #error{
	font-size: 190%;
    }
}


.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.8);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h4{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

.persos{
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
}
